.user-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: #292929;
  max-width: 250px;
  padding: 30px 20px;
  margin: 0 auto;
  border-radius: 4px;

  img{
    width: 54px;
    border-radius: 50%;
  }

  .name{
    font-size: 16px;
    font-weight: bold;
    color: #e4e4e4;
    margin: 10px 0;
  }

  .email{
    font-size: 14px;
    font-weight: bold;
    color: #a5a5a5
  }
}
